{% extends 'base.html' %}
{% block title %}404{% endblock %}
{% block content %}
<div class="spacer100"></div>
<div class="section">
    <div class="row">
        <div class="col s12 m8 l7">
            <h1>Four-Oh-Four</h1>
            <pre>
$ git status
fatal: Not a git repository
            </pre>
            <p>
                You've found a page that doesn't exist! Nice job!
            </p>
        </div>
        <div class="col s12 m4 l5 right">
            <img src="http://www.utdallas.edu/error/images/icecream.png" alt="">
        </div>
    </div>
</div>
{% endblock %}